---
import { info } from "@data";
---

<nav
    id="mobile-menu-nav"
    class="h-100 absolute top-[80px] bottom-0 right-0 z-10 hidden w-full bg-inherit sm:top-[123px]"
>
    <ul class="container flex flex-col justify-between">
        {
            info.pages.map((item) => (
                <li>
                    <a
                        class="dark:text-light block py-4 px-3 text-right text-lg"
                        href={`/${item}`}
                    >
                        {item.charAt(0).toUpperCase() + item.slice(1)}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<script>
    const toggleMobileMenuNav = () => {
        document.getElementById("mobile-menu-nav").classList.toggle("hidden");
        document
            .getElementById("mobile-menu-button-expand")
            .classList.toggle("hidden");
        document
            .getElementById("mobile-menu-button-collapse")
            .classList.toggle("hidden");
    };
    document
        .getElementById("mobile-menu-button")
        .addEventListener("click", toggleMobileMenuNav);
</script>
