---
import { info } from "@data";

import { capitalize, getPageUri } from "@utils";
---

<nav>
  <ul class="flex items-center">
    {
      info.pages.map((page) => (
        <li>
          <a
            class="lh-4 hidden p-4 text-lg leading-relaxed hover:opacity-80 dark:text-light sm:block"
            href={`/${getPageUri(page)}`}
          >
            {capitalize(page)}
          </a>
        </li>
      ))
    }
    <li>
      <button
        aria-label="theme-button"
        id="theme-button"
        class="ml-2 rounded-lg bg-slate-200 p-4 hover:opacity-80 dark:bg-[#202020] dark:text-light"
      ></button>
    </li>
    <li>
      <button
        aria-label="mobile-menu-button"
        id="mobile-menu-button"
        class="ml-2 block rounded-lg bg-slate-200 p-4 text-lg leading-relaxed dark:bg-[#202020] dark:text-light sm:hidden"
      >
        <svg
          id="mobile-menu-button-expand"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu"
          ><line x1="3" y1="12" x2="21" y2="12"></line><line
            x1="3"
            y1="6"
            x2="21"
            y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg
        >
        <svg
          id="mobile-menu-button-collapse"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x hidden"
          ><line x1="18" y1="6" x2="6" y2="18"></line><line
            x1="6"
            y1="6"
            x2="18"
            y2="18"></line></svg
        >
      </button>
    </li>
  </ul>
</nav>
