---
import MetaHead from "@components/general/MetaHead.astro";
import { info } from "@data";
import Layout from "@layouts/Layout.astro";

const { metaDescriptions, about } = info;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead title={"About"} description={metaDescriptions.about} />
  </head>

  <body>
    <Layout>
      <section>
        <h1 style="line-height: 1.2;">About</h1>
        <div class="w-full">
          {
            about.map((item) => (
              <p class="mb-8 max-w-lg text-lg leading-relaxed dark:text-light">
                {item}
              </p>
            ))
          }
        </div>
      </section>
    </Layout>
  </body>
</html>
