---
import MetaHead from "@components/general/MetaHead.astro";
import { info } from "@data";
import Layout from "@layouts/Layout.astro";

const { about } = info;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead
      title={"About"}
      description={info.metaDescriptions.about}
      ogImageUrl={info.openGraphImageUrl}
    />
  </head>

  <body>
    <Layout>
      <section>
        <h1 style="line-height: 1.2;">About</h1>
        <div class="my-16 w-full">
          {
            about.map((item) => (
              <p class="mb-8 text-lg dark:text-light">{item}</p>
            ))
          }
        </div>
      </section>
    </Layout>
  </body>
</html>
