---
import MetaHead from "@components/general/MetaHead.astro";
import { info } from "@data";
import Layout from "@layouts/Layout.astro";

const { email } = info.socialMedia;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead title={"Contact"} description={info.metaDescriptions.contact} />
  </head>

  <body>
    <Layout>
      <section>
        <h1 style="line-height: 1.2;">Contact</h1>
        <div class="w-full">
          <p class="max-w-lg text-lg leading-relaxed dark:text-light">
            Interested in working together? Contact me to schedule a free
            consultation.
          </p>
          <div class="my-8 flex items-center gap-8">
            <a
              target="_blank"
              href={`mailto:${email}`}
              aria-label="Send me a message me"
              class="rounded-lg bg-slate-200 py-4 px-8 dark:bg-[#202020] dark:text-light"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-send mb-1 inline-block"
                ><line x1="22" y1="2" x2="11" y2="13"></line><polygon
                  points="22 2 15 22 11 13 2 9 22 2"></polygon></svg
              >
              <span class="ml-1 text-lg leading-relaxed">{email}</span>
            </a>
          </div>
        </div>
      </section>
    </Layout>
  </body>
</html>
