---
import { info } from "@data";

import ContactWrapper from "@components/general/ContactWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const { email } = info;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <MetaHead
            title={"Contact"}
            description={"My contact details are available on this page."}
            ogImageUrl={"/assets/images/profile.png"}
        />
    </head>

    <body>
        <Layout>
            <h1 style="line-height: 1.2;">Contact</h1>
            <ContactWrapper email={email} />
        </Layout>
    </body>
</html>
