---
import { info } from "@data";
import { IContactProps } from "@types";

import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const { email } = info as IContactProps;
const pClasses = "dark:text-light text-lg";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <MetaHead
            title={"Contact"}
            description={info.metaDescriptions.contact}
            ogImageUrl={info.ogImageUrl}
        />
    </head>

    <body>
        <Layout>
            <section>
                <h1 style="line-height: 1.2;">Contact</h1>
                <div class="my-16 w-full">
                    <p class="mb-6 text-lg dark:text-light">
                        Let's collaborate! Contact me at <a
                            class="font-bold dark:text-light"
                            href={`mailto:${email}`}>{email}</a
                        > to set up a free consultation.
                    </p><p class="text-lg dark:text-light">
                        We can discuss your project's goals, timeline, and
                        estimated cost. I look forward to meeting with you!
                    </p>
                </div>
            </section>
        </Layout>
    </body>
</html>
