---
import { info } from "@data";
import { IProjects } from "@types";

import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import ProjectArticle from "@components/projects/ProjectArticle.astro";

const { projects } = info as IProjects;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <MetaHead
            title={"Projects"}
            description={info.metaDescriptions.projects}
            ogImageUrl={info.ogImageUrl}
        />
    </head>

    <body>
        <Layout>
            <section>
                <h1 style="line-height: 1.2;">Projects</h1>
                <div class="grid grid-cols-1 gap-4 my-16">
                    {
                        projects.map((project, index) => (
                            <ProjectArticle
                                projectDetail={project}
                                isLazy={index > 0}
                            />
                        ))
                    }
                </div>
            </section>
        </Layout>
    </body>
</html>
