---
import MetaHead from "@components/general/MetaHead.astro";
import ProjectDetail from "@components/projects/ProjectDetail.astro";
import Layout from "@layouts/Layout.astro";

import { info } from "@data";
const { projects } = info;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead title={"Projects"} description={info.metaDescriptions.projects} />
  </head>

  <body>
    <Layout>
      <section>
        <h1 style="line-height: 1.2;">Projects</h1>
        <div class="grid grid-cols-1 gap-4">
          {
            projects.map((project, index) => (
              <ProjectDetail {...project} isLazy={index > 0} />
            ))
          }
        </div>
      </section>
    </Layout>
  </body>
</html>
