---
import { info } from "@data";

const { name, subtitle: profession, summary } = info;
const avatar_url = "https://avatars.githubusercontent.com/u/113398750?v=4";
---

<section>
  <div class="mb-8 flex flex-wrap justify-between">
    <div class="w-full dark:text-light">
      <div class="mt-8 flex items-end justify-between">
        <div class="flex flex-col">
          <h2 class="mb-0 text-4xl leading-none dark:text-light">
            Hello, I am
          </h2>
          <h1 class="my-2 flex flex-wrap">
            {name}
          </h1>
          <h2 class="mt-0">
            {profession}
          </h2>
        </div>
        <picture>
          <source srcset={avatar_url} media="(min-width: 1024px)" />
          <img
            id="avatar"
            class="hidden h-60 w-60 rounded-lg lg:block"
            src=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="mx-auto">
    {
      summary.map((p) => (
        <p class="mb-8 max-w-lg text-lg leading-relaxed dark:text-light">{p}</p>
      ))
    }
  </div>
</section>
